<h1>La liste des tasks</h1>

<%= link_to 'Ajouter un task', new_task_path %>

<% @tasks.each do |task| %>
  <div class="container text-center">
    <p><%= task.name %></p>
    <p><%= task.todo %></p>
    <%= link_to 'Allez voir la fiche', task_path(task) %>
    <%= link_to 'Supprimer', task_path(task), method: :delete %>
    <%= link_to 'marker comme fait', done_task_path(task), method: :patch%>
  </div>
<% end %>
