<h1>La liste des tasks</h1>

<%= link_to 'Ajouter un task', new_task_path %>

<% @tasks.each do |task| %>
  <div>
    <p><%= task.name %></p>
    <p><%= task.todo %></p>
    <%= link_to 'Allez voir la fiche', task_path(task) %>
    <%= link_to 'Supprimer', task_path(task), method: :delete %>
  </div>
<% end %>
